# Dependencias
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml

# Archivos de construcción (Build) de Vite
dist/
dist-ssr/
build/

# Logs y errores
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Archivos de entorno (¡Muy importante para la seguridad!)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Configuración del editor de código (IDE)
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?